/*Custom Properties----------------*/
:root {
    /*Basics*/
    --warning-color: linear-gradient(rgb(173, 0, 0), rgb(207, 53, 99));
    --your-blog-black: #141414;
    --your-blog-gray: #635a5a;
    --border-roundy-50: 50px;
    --border-basic: 5px solid var(--your-blog-black);

    /*Default Theme*/
    --your-blog-pink: #F57B95;
    --your-blog-lightpink: #FFD4DD;
    --your-blog-yellow: #fff3c1;
    --your-blog-purple: #361233ad;
}

/*General Styling----------------------*/
body {
    width: inherit;
}

h1,
h2,
h3,
label {
    font-family: 'Iceland', Arial, Helvetica, sans-serif;
}

h3,
label {
    font-size: 36px;
}

/*Errors Styling*/
.input-error {
    color: var(--warning-color);
    font-style: italic;
}

/*HEADER-----------------*/
#header-container {
    min-height: 5vw;
    max-height: 20vw;
    background-color: var(--your-blog-pink);
}

#app-title {
    font-size: 48px;
}

/*Filter Elements*/
#filter-search {
    min-width: 14.46vw;
    max-width: 50.417vw;
    min-height: 1vw;
    max-height: 3.385vw;
    border-radius: var(--border-roundy-50);
    padding: 1rem;
}

#filterBtn {
    min-width: fit-content;
    max-width: 6.927vw;
    min-height: fit-content;
    max-height: 3.385vw;
    font-size: 1rem;
    border-radius: var(--border-roundy-50);
}

/*MAIN-----------------*/
main {
    width: inherit;
    height: inherit;
    background-color: white;
}

main h2 {
    font-size: 2.5rem;
}


/*Left | User Info---*/
#user-info-container {
    background-color: white;
    height: 100%;
    border: var(--border-basic);
    border-radius: 50px;
}

#user-bg {
    height: 10.573vw;
    background-color: var(--your-blog-lightpink);
    border-radius: 50px 50px 0 0;
}

#user-pfp {
    width: 140px;
    height: 140px;
    background-image: url(assets/images/BonBun.png);
    background-color: var(--your-blog-black);
    border: 0.5rem solid var(--your-blog-black);
    border-radius: 100%;
    margin: -5vw auto auto 1vw;
}

#user-info {
    margin-left: 2vw;
    color: var(--your-blog-black);
}
#usernameInput{
    width: fit-content;
    border: none;
}
#usernameInput:active{
    border: 0;
}
#user-about{
    width: 80%;
}

/*Right | Feed---*/

/*All*/
#blogs-crud-container {
    width: 80%;
    height: fit-content;
    background-color: white;
    color: var(--your-blog-black);
    border: 5px solid var(--your-blog-black);
    border-radius: 50px;
    padding-bottom: 2vw;
}

input {
    width: 40.885vw;
    height: auto;
}

textarea {
    width: 40.885vw;
    height: 8.281vw;
}


/*CREATE---*/
#create-blog-section {
    background-color: var(--your-blog-lightpink);
    width: 100%;
    height: fit-content;
    border-radius: 50px 50px 0 0;
    border: none;
}
#create-blog-title,
#create-blog-content{
    border-radius: 10px;
    padding: 0.5vw 1vw;
}

/*VIEW/READ---*/
#blog-feed-section h3,
p {
    color: var(--your-blog-black);
}

/*UPDATE/EDIT--*/
.editBtn {
    background-color: transparent;
    color: var(--change-item-color);
    border: none;
    font-size: 1.25rem;
}

.modal {
    display: none;
    /*default*/
    position: fixed;
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: var(--your-blog-purple);
    /* Purple w/ opacity */
}

.modal-content {
    background-color: var(--your-blog-yellow);
    color: var(--your-blog-black);
    margin: auto;
    padding: 2vw;
    border: var(--border-basic);
    width: 75%;
}

#update-blogBtn {
    color: white;
    background-color: var(--your-blog-pink);
    border: none;
    border-radius: var(--border-roundy-50);
    font-size: 2rem;
    font-weight: bold;
    padding: 0.25vw 1vw;
}

#update-blogBtn:hover,
#update-blogBtn:focus {
    color: var(--your-blog-black);
    background-color: var(--your-blog-lightpink);
    cursor: pointer;
}

#cancel-modal {
    color: white;
    background-color: var(--your-blog-purple);
    border: none;
    border-radius: var(--border-roundy-50);
    font-size: 2rem;
    font-weight: bold;
    padding: 0.25vw 1vw;
}

#cancel-modal:hover,
#cancel-modal:focus {
    color: var(--your-blog-black);
    background-color: var(--your-blog-gray);
    cursor: pointer;
}

/*DELETE---*/
.deleteBtn {
    background: var(--warning-color);
    color: transparent;
    background-clip: text;
    border: none;
    font-size: 1.25rem;
}

/*BLOG ITEM Styling---*/
.blog-item-template,
.blog-item {
    background-color: var(--your-blog-yellow);
    width: 43.177vw;
    min-height: 5.313vw;
    max-height: fit-content;
    list-style: none;
    margin: 1vw auto;
}

.blog-item-top-container {
    background-color: var(--your-blog-lightpink);
    margin-left: -1vw;
    padding-left: 1vw;
}

.blog-item-title {
    font-size: 2rem;
}

.blog-item-content {
    padding-top: 1vw;
    font-size: 1rem;
}

.blog-itemBtns button {
    font-family: 'Iceland', Arial, Helvetica, sans-serif;
}


/*Sizing and Padding Adjustments*/
@media (max-width:1550px) {
    .blog-item-top-container {
        margin-left: -2.8vw;
        padding-left: 1vw;
    }

    #main-left{
        margin: 0;
        padding: 0;
        width: 100%;
    }

    #main-right {
        margin: 0;
        padding: 0;
    }

    #user-info-container,
    #blogs-crud-container,
    #create-blog-section {
        width: inherit;
        border: none;
        border-radius: 0;
    }

    #user-bg {
        height: 15vw;
        margin-left: -3vw;
        background-color: var(--your-blog-black);
        border-radius: 0;
    }

    #user-pfp {
        margin: -5vw auto auto 1vw;
    }

    .blog-item {
        width: 80vw;
        margin: 2vw auto;
    }

    #create-blog-title,
    #create-blog-content {
        width: 70vw;
    }

    .input-error {
        font-size: 0.8rem;
    }
}

@media (max-width: 450px) {
    #main-left {
        padding-left: 3vw;
    }
    #user-bg {
        height: 30vw;
        background-color: var(--your-blog-black);
        border-radius: 0;
    }

    #user-pfp {
        margin: -20vw auto auto 1vw;
    }

    .blog-item-top-container {
        margin-left: -4vw;
        padding-left: 1vw;
    }

    .blog-item {
        width: 80vw;
    }

    .blog-item-title {
        font-size: 24px;
        max-width: 203px;
    }

    .blog-item-content {
        font-size: 16px;
    }

}